<div class="navbar">
    <div>
        <div class="nav-left">
            <img class="Logo" src="/assets/Images/logo.png" alt="Logo">
            <mat-icon class="search" aria-hidden="false" aria-label="home icon" fontIcon="search"></mat-icon>
            <button mat-button class="button">Home</button>
            <button mat-button class="button">Shop</button>
            <button mat-button class="button">Categories</button>
            <button mat-button class="button">Buy Now</button>
    </div>

    </div>
    <div class="nav-right">
        <mat-icon class="favorite_border" fontIcon="favorite_border"></mat-icon>
        <div class="nav-middle">
            <mat-icon  class="shopping_bag" fontIcon="shopping_bag"></mat-icon>
            <button mat-button class="button">Cart</button>
        </div>
        <button mat-button class="login">Login</button>
    </div>
</div>