<header>

</header>

<body>
  <img src="assets/Images/mcbook1.png" alt="M2 Pro" class="mcbook1">
  <H1 class="create">Create wonders.</H1>
  <p class="processor">The Power of 16" Retina Display and M2 Pro Processor</p>
  <div>
  <button mat-button class="btn">
    Buy Now →
  </button>
</div>
<h1 class="model">Choose the model that suits you</h1>
<div>
  <img src="assets/Images/mcbook2.png" alt="Air M2" class="mcbook2">
  <img src="assets/Images/mcbook3.png" alt="Pro 16" class="mcbook3">
  <img src="assets/Images/line.png" alt="line" class="line">
</div>
<h1 class="Air">MacBook Air M2</h1>
<p class="Lorem1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a sem lectus. Ut hendrerit, diam et ultrices auctor, ex odio mollis est, at pretium dolor lectus ac dui. Morbi volutpat, lorem efficitur finibus convallis.</p>
<button mat-button class="btn2">Buy Now →</button>
<h1 class="Pro16">MacBook Pro 16"</h1>
<p class="Lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a sem lectus. Ut hendrerit, diam et ultrices auctor, ex odio mollis est, at pretium dolor lectus ac dui. Morbi volutpat, lorem efficitur finibus convallis.</p>
<button mat-button class="btn3">Buy Now →</button>
</body>

<app-m2pro></app-m2pro>