body { 
    background-color: #FFFFFF;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
  }
  
  .mcbook1 {
    position:relative;
    top: 100px;
    left: 590px;
  }
  
  .create {
    position:relative;
    top:120px;
    left: 850px;
  }
  
  .processor{
    position:relative;
    top:110px;
    left: 770px;
    color: #c1c0c2;
  }
  
  .btn {
    background-color: #FFFFFF !important;
    color: #1271e0 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: bolder !important;
    position:relative !important;
    left: 920px !important;
    top: 120px !important;
  }
  
  .model{
    color: #1271e0;
    position:relative;
    top:500px;
    left: 710px;
  }
  
  .mcbook2 {
    position:relative;
    top: 200px;
    left: 280px;
    width: 400px;
  }
  
  .mcbook3 {
    position:relative;
    top: 205px;
    left: 730px;
    width: 400px;
  }
  
  .line {
    position:relative;
    top: 700px;
    left: 140px;
    height: 800px;
  }
  
  .Air {
    position:relative;
    top: 250px;
    left: 280px;
  }
  
  .Lorem1{
    color: #c1c0c2;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    max-width: 350px;
    max-height: 100px;
    position:relative;
    top: 290px;
    left: 280px;
  }
  
  .btn2 {
    background-color: #FFFFFF !important;
    color: #1271e0 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: bolder !important;
    position:relative !important;
    left: 270px !important;
    top: 360px !important;
  }
  
  .Pro16 {
    position:relative;
    top: 10px;
    left: 1130px;
  }
  
  .Lorem2{
    color: #c1c0c2;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    max-width: 350px;
    max-height: 100px;
    position:relative;
    top: 45px;
    left: 1130px;
  }
  
  .btn3 {
    background-color: #FFFFFF !important;
    color: #1271e0 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: bolder !important;
    position:relative !important;
    left: 1125px !important;
    top: 120px !important;
  }
  
  
  